/* Global Styles
-------------------------------------------------- */

body {
    background-image: linear-gradient(180deg, #fff, #F8FFFF 100px, #fff);
    padding-top: 6rem;
    padding-bottom: 6rem;
    color: #414141;
}

/* Navbar
-------------------------------------------------- */

.navbar-brand, .nav-link {
    font-size: 25px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.border-bottom {
    border-bottom: 2px solid #b0e0e4 !important;
}

/* General
-------------------------------------------------- */

.home .col p {
    margin-bottom: 1.5rem;
    margin-right: .75rem;
    margin-left: .75rem;
    text-align: center;
}

.home-heading {
    font-size: 100px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -.05rem;
}

.lead {
    margin-bottom: 0;
    font-weight: 400;
}

.less-width {
    max-width: 960px;
}

.divider {
    margin-top: 7rem;
}

.btn-get-started {
    border-radius: 2rem;
}

.main-link {
    font-size: 18px;
    font-weight: bold;
    color: #414141;
}
