{% extends 'base.html' %}

{% block head %}
<title>MarketWatch Analyzer</title>
{% endblock %}

{% block body %}
<main>
    <div class="container divider">
        <div class="row">
            <div class="col-md-7">
                <p class="lead">Simple. Efficient. Accurate.</p>
                <h1 class="home-heading">Analyze Stock Articles at a Glance.</h1>
                <a class="btn btn-primary btn-get-started" href="/analyze" role="button">Get Started</a>
            </div>
            <div class="col-md-5">
                <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            </div>
        </div>
    </div>
</main>
{% endblock %}
